<footer>
    <hr>
    <nav>
        <a href="https://github.com/Keiona00">GitHub</a> ♣
        <a href="https://keiona00.github.io/">GitHub.io</a> ♣
        <a href="https://gitlab.com/Keiona00">GitLab</a> ♣
        <a href="https://keiona00.gitlab.io">GitLab.io</a> ♣
        <a href="https://www.freecodecamp.org/Keiona_Leaks">Freecodecamp</a> ♣
        <a href="https://www.codecademy.com/profiles/Keiona_Leaks">Codecademy</a> ♣
        <a href="https://www.linkedin.com/in/keiona-leaks-323768164/">Linkedin</a>
    </nav>
    <p>Designed by <a href="keionaweb">KeionaWeb</a> Copyright 2022</p>
</footer>