h1, h2, nav, figure, figcaption{
    text-align: center;
}

body
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(254, 255, 254);
    background-color: rgb(1, 36, 1);

}

main
{
margin-left: 20px;
}

nav{
    font-size:150%
}

a
{
    text-decoration: none;
    Color: rgb(97, 255, 129);
}

a:hover{color:rgb(56, 176, 70);}